.menu{
    width: 100%;

    display: flex;
    justify-content: space-between;

    padding: 48px 16px;
}



// container

.container{
    max-width: 1220px;

    margin: 0 auto;

    padding: 24px 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.hero{
    height: 80vh;
}

@media screen and (max-width: 960px) {
    .hero {
        height: auto;
    }
    .container{
        
    flex-direction: column;
    }
}

.container-item:nth-child(1){
    flex-grow: 2;
}

.container-item:nth-child(2){
    flex-grow: 1;
    img{
        width: 350px;
        opacity: 0.850;
        border-radius: 450px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-right{
    text-align: right;
}

.bg-hero {
    position: absolute;
    top: 0;
    left: 0;
    

    width: 100%;
    height: 100vh;

    overflow: hidden;
    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.relative{
    position: relative;
}


@media screen and (max-width: 960px){
     .menu{
         display: none;
     }

    .svg-hero{
        transform: scale(2) rotate(25deg)
    }
    .container-item:nth-child(2){
        margin-top: 80px;
        img{
        width: 350px;
    }
}
}

// SELECTED WORKS


.list-item{
    
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px 24px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    position: relative;

    a{
        z-index: 999;
        &:hover{
            opacity: 0.05;
            & + .img-project{
                transform: translate(-50%, -50%) translate3d(0,0,0);
            }
        }
    }
}

.img-project{
    max-width: 400px;
    border-radius: 4px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) translate3d(-1100px, 0,0) skew(60deg);

    transition: .5s linear;

    

}

.bb-gray{
    border-bottom: 1px solid $black-light;
    width: 100%;
}


.get{
    max-width:  1200px;
    margin: 0 auto;
    padding: 16px 24px;
}

.text-center{
    text-align: center;
}

.redes{
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.redes a{
    margin: 10px;
}

.icons{
    width: 50px;
    margin: auto;
}