h1, h2, h3, h4, h5, h6, p, a{
    font-family: 'Barlow Condensed', sans-serif;
    color: $white-normal;
    font-weight: 400;
}
a{
    text-decoration: none;
}

.link{
    padding: 8px 24px;
    font-size: 24px;

    display: inline-block;
    
    transition: .5s linear;

    position: relative;
    &::after{
        content:'';
        display: block;

        position: absolute;
        top: 100%;
        left: 0;

        width: 0;
        height: 2px;

        transform: translate(20%, -80%);
        transition: .5s linear;   
        
        background-color: $white-normal;
    }

    

    &:hover{
        opacity: .5;
        &::after{
    
            width: 70%;
        }
    }
}

h1{
    font-size: 96px;
    line-height: 100%;
}

h2{
    font-size: 72px;
    line-height: 110%;
}

h3{
    font-size: 40px;
    line-height: 115%;
}

h4{
    font-size: 32px;
    line-height: 120%;
}

h5{
    font-size: 24px;
    line-height: 140%;
}

h6{
    font-size: 18px;
    line-height: 150%;
}

.mask{

    background: linear-gradient(225deg, #2DC7ED 0%, #538BF0 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.square{
    padding: 16px 24px;
    font-size: 24px;

    margin-top: 64px;
    display: inline-block;

    position: relative;


    &::after {
        content: '';
        display: block;
        width: 120px;
        height: 120px;
        background: linear-gradient(225deg, #2DC7ED 0%, rgba(83, 139, 240, 0) 100%);

        position: absolute;
        top: 0;
        left: 0px;

        z-index: -1;

        transform: translate(-13%, -23%) rotate(45deg);


        border-radius: 4px;
        transition:  .5s ease;

        opacity: 0.5;
    }
    &:hover {
        &::after{
        transform: translate(-13%, -23%) rotate(300deg);
        }
    }
}


@media screen and (max-width: 960px){
    h1{
        font-size: 64px;
    }
    
    h2{
        font-size: 48px;
    }
    
}
